.w {
  height: 90px;
  width: 90px;
  background: #eee;
  cursor: pointer;
  border: 1px solid lightgray;
}

.b {
  height: 90px;
  width: 90px;
  cursor: pointer;
  background-color: #999;
  border: 1px solid lightgray;
}

.selected {
  background-color: rgb(102, 182, 132);
}

.traced {
  background-color: rgb(253, 136, 161);
}
