.white {
  height: 90px;
  width: 90px;
  background: #eee;
  cursor: pointer;
}

.black {
  height: 90px;
  width: 90px;
  cursor: pointer;
  background-color: #999;
}

.selected {
  background-color: rgb(102, 182, 132);
}

.traced {
  background-color: rgb(253, 136, 161);
}
